body{
    background-color: lightcyan;
}

#password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 85px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed #c0c7cf;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
    
  }

  .card-action {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #length {
      color: blanchedalmond;
      padding-left: 5px;
  }

  #length::before {
      content: 'Password Length: ';
  }
  .previous_password{
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: lightgray;
  }